* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    border: none;
    text-decoration: none;
}

header {
    margin: 38px 0px 138px 76px;
}

a {
    margin-right: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
}

a:hover {
    color: #808282;
}

button {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {
    background: #6158c8;
    color: #f0eded;
}

button:active {
    background: #5146cc;
}

img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

main {
    display: inline-block;
    width: 514px;
    height: 310px;
    margin-left: 86px;
    position: absolute;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin: 32px 0px 65px 0px;
}

#button2 {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;

    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

#button2:hover {
    background: #a2ec00;
    color: #060505;
}

#button2:active {
    border:  1px solid #79b100;
}

@media screen and (max-width:391px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'montserrat', sans-serif;
        border: none;
        text-decoration: none;
    }

    a {
        display: none;
    }

    #button1 {
        display: none
    }

    p {
        display: none;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #515151;
        margin: 1px 1px 1px 1px;
    }

    img {
        box-align: center;
        margin-left: 14px;
        width: 550px;
    }

    main {
        position: absolute;
        margin-left: 64px;
    }

    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        font-size: 72px;
        margin: 24px 0px 0px 40px;
        color: #515151;
    }


}